bin
lib
share
include
pyvenv.cfg
__pycache__
node_modules
config.ini
venv
.idea
dist
static
!/web/public/static/
.DS_Store
config.json
model
build
temp
temp.py
temp.json
web/src/assets/css/youtube/temp.css
web/src/components/temp.vue
